/** Bootstrap fixes for Dropdowns **/


.navbar-default .navbar-nav > li > div > a {
  color: #777;
}
.navbar-default .navbar-nav > li > div > a:hover,
.navbar-default .navbar-nav > li > div > a:focus {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;

}
/** Dropdowns fixes for Bootstrap **/
.wrap-dd-menu {
  padding: 15px 0;
  margin-left: 15px;
}
.wrap-dd-menu .dropdown:before {
  border: none;
}
.wrap-dd-menu .dropdown:after {
  border: none;
}

.navbar-nav  .ui-select-bootstrap {
  margin-top:8px;
}

.navbar-nav  .ui-select-bootstrap button{
  background-color: transparent;
  border: none;
  -webkit-box-shadow:none;
}

.navbar-nav  .ui-select-bootstrap > .ui-select-match, .ui-select-bootstrap .text-muted {
  color:#777777;
}

/** Dropdowns fixes for Bootstrap continued **/
.form-control.ui-select-bootstrap {
  padding: 0!important;
  border: 0!important;
}

.ui-select-choices.ui-select-choices-content.dropdown-menu {
  min-width: 0 !important;
}

.ui-select-match .btn {
  text-align:left;
}

.navbar .divider-vertical {
  height: 40px;
  margin: 5px 9px;
  border-left: 1px solid #b8c39c;
  border-right: 1px solid #b8c39c;
}


.form-requirements {
  color: #a94442;
  font-size: small;
  font-style: italic;
}
.has-error-feedback {
  color: #a94442;
}

#remember-me {
  font-size: 0.8em;
}

.forgot-password {
  float:right;
}


.confirm-password {
  font-size:.8em;
}

/** View Diary **/
treecontrol li {
  padding: 0!important;
}

treecontrol li li {
  padding-left: 20px!important;
}

.addButtons{
  margin-bottom: 15px;
}

#diary-container,
#diary-feed-container,
#ask-container,
#list-container,
#tags-container,
#view-question-container,
#request-password,
#reset-password {
  width: 100%;
  height: 100%;
  position: relative;
}

#answer-container,
.comment-container,
#ask-card {
  width: 100%;
  height: 200px;
  position: relative;
}
#loading-message,
#diary-card,
#diary-feed-card,
#tag-container,
#form-ask-question,
#form-answer-question,
#email-sent,
#password-reset{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#add-buttons{
   position: absolute;
   top: 0;
   left: 0;
}



#diary-card {
  z-index: 10;
}

.diary-feed-item {
  border: none;
  border-top: solid thin #cad6aa;
  padding: 10px 0 20px 0;
}

#view-question-card {
  margin-bottom: 15px;
  border: none;
}

/** Footer **/

.footer .footer-inner {
  border-top:0!important;
}

/** Animations **/


.view-animate {
  -webkit-transition: 1s linear all;
  -o-transition: 1s linear all;
  -moz-transition: 1s linear all;
  transition: 1s linear all;
  opacity:1
}


.view-animate.ng-hide {
  -webkit-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  transition: 0.25s linear all;
  opacity:0
}




/** Header **/

.gj-header {
  padding: 60px 0 60px 0;
  background-color: #b8c39c;
}
.gj-header h1, .gj-header p {
  color: white;
  margin-left:15px;
}
.navbar-default {
  background-color: #cad6aa;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #dfecbc;

}

.navbar-right {
  margin: 0!important;
}


/** Image Responsive**/

img {
  width: 100%;
}

/** showErrors **/


.form-group.has-error .help-block {
  display: block;
}


input[type="checkbox"] {
  box-shadow: none;
}

.single-photo {
  height:300px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: hidden;
}

.single-photo img {
  max-width:100%;
  max-height:100%;
}

.photobox, .photo-upload-box {
  height: 70px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  border-radius: 4px;
  position:relative;
  overflow: hidden;
}
.photo-upload {
  margin-bottom: 15px;
}


.photobox img, .photo-upload-box img, {
  height: 34px;
  width: 34px;
}

.photobox ul, .photo-upload-box ul {
  margin: 0;
  padding: 0;
}

.photobox li, .photo-upload-box li {
  list-style: none;
  float: left;
}

.photobox li.dropbox {
  position: absolute;
  bottom: 0;
  right: 0;
}

.photobox .dropbox {
  height: 34px;
  width: 34px;
/**  border: dotted 3px #cccccc; **/
}


#upload-file-container input {
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-button {
  position: relative;
  margin-bottom: 15px;
}




.file-button input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}



/**.ng-file-over {
  border: dotted 3px red!important;
}
**/

.dropbox-animate {
  -webkit-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  transition: 0.15s linear all;

  width: 34px;
  height: 34px;
  border: dotted 3px #cccccc;
  background: url("/images/photobox-plus.png") no-repeat right bottom;
}


.dropbox-animate.nv-file-over {
  width: 553px;
  height: 66px;
  border: dotted 3px #b8c39c!important;
  background: url("/images/photobox-plus-green.png") no-repeat right bottom;
}

.lightbox-nav a {
  color: #ffffff;
  text-decoration: none;
}
.lightbox-nav {
  position: relative;
  text-align: center;
  top: 10px;
}


.lightbox-image-container {
  position: relative;
  text-align: center; /* center the image */
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: rgba(255, 255, 255, 0.75);
  /* pad the left and right of each line of text */
  box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
  -0.4em 0 0 rgba(255, 255, 255, 0.75);
}

.lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  text-decoration: none;
  height: 100%;
}
.lightbox-nav-overlay a::before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-animate {
  -webkit-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity:0
}

.modal-animate:hover {
  opacity:1;
}

.lightbox-nav-overlay a:empty {
  width: 49%;
}


.lightbox-nav-overlay .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.lightbox-nav-overlay .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}


.lightbox-modal .modal-dialog {
  margin: 0px auto;
}


.lightbox-modal .modal-body {
  top: 50%;
  transform: translateY(-50%);
}

.lightbox-modal .modal-content {
  border: 0;
  border-radius: 0;
  background-color: #000000;
  color: #ffffff;
}

.lightbox-modal .modal-backdrop.in {
  opacity: 0.7;
}

.lightbox-modal .modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* Questions*/
.position-fixed {
  position: fixed;
}



.tag-header {
  color: #cad6aa;
  display:inline-block
}


tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item.selected em {
  background: #428bca !important;
  color: #ffffff;
}



.rating-card,
.question-text,
.asked-by-on,
.number-answers,
#view-heading,
#question-card,
#recent-questions-container,
.answer-card,
.comments-card,
#ask-container {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.comment-card,
.answered-by,
.tags {
  margin-bottom: 10px;
  min-height: 30px;
}
.tag {
  margin-right: 5px;
}

#question-card {
  border-bottom:solid 1px;
}

.number-answers {
  font-size:1.3em;
}


.center-block {
  float: none;
}

.rating-container {
  position: relative;
  height: 40px;
  width: 42px;
}

.rating {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.rated-up {
  padding-top: 21px;
}

.rated-down {
  padding-top: 4px;
}


.comment-text,
.comment-by,
.already-rated,
.asked-by,
.asked-by-on,
.answered-by,
.answered-by-on,
.comment-by-on {
  font-size: 0.8em;
}

.answer-question,
.add-comment {
  font-size: 0.8em;
  margin-right: 5px;
}

a.rating  {
  text-decoration: none;
}

.rating .glyphicon {
  font-size: 3em;
}

/**** Rating centering ****/

.rating-card {
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
  margin-top: -18px;
}


span.glyphicon,
.rating-value {
  align-items: center;
  vertical-align: middle;
  width: 42px;
}

span.glyphicon.rate-down{
  margin-top: -2px;
}

.phaedra-colors .label {
  color: #888888;
}

.phaedra-colors .label-info {
  background-color: #cad6aa;
}
.phaedra-colors .label-info[href]:hover,
.phaedra-colors .label-info[href]:focus {
  background-color: #b8c39c;
}




/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
a {
  color: #cad6aa;
}
a:hover, a:focus{
  color: #b8c39c;
}
.alert-success {
  background-color: #cad6aa;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image:      -o-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cad6aa), to(#b8c39c));
  background-image:         linear-gradient(to bottom, #cad6aa 0%, #b8c39c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcad6aa', endColorstr='#ffb8c39c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #b8c39c;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #b8c39c;
  border-color: #3e8f3e;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #b8c39c;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2aabd2;
  background-image: none;
}

.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}



.alert-success {
  background-image: -webkit-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image:      -o-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cad6aa), to(#b8c39c));
  background-image:         linear-gradient(to bottom, #cad6aa 0%, #b8c39c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcad6aa', endColorstr='#ffb8c39c', GradientType=0);
  background-repeat: repeat-x;
  border-color: #889275;
}


.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image:      -o-linear-gradient(top, #cad6aa 0%, #b8c39c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cad6aa), to(#b8c39c));
  background-image:         linear-gradient(to bottom, #cad6aa 0%, #b8c39c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcad6aa', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  background-repeat: repeat-x;
}

.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}

.loader {
  margin: 100px auto;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #cad6aa, 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.5), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.7), 1.8em -1.8em 0 0em #cad6aa, 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.5), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.7), 2.5em 0em 0 0em #cad6aa, 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.5), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.7), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.5), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.7), 0em 2.5em 0 0em #cad6aa, -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.5), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.7), -1.8em 1.8em 0 0em #cad6aa, -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.5), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.7), -2.6em 0em 0 0em #cad6aa, -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.5), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.7), -1.8em -1.8em 0 0em #cad6aa;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #cad6aa, 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.5), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.7), 1.8em -1.8em 0 0em #cad6aa, 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.5), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.7), 2.5em 0em 0 0em #cad6aa, 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.5), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.7), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.5), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.7), 0em 2.5em 0 0em #cad6aa, -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.2), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.5), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.7), -1.8em 1.8em 0 0em #cad6aa, -2.6em 0em 0 0em rgba(202, 214 ,170, 0.2), -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.5), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.7), -2.6em 0em 0 0em #cad6aa, -1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(202, 214 ,170, 0.2), 1.8em -1.8em 0 0em rgba(202, 214 ,170, 0.2), 2.5em 0em 0 0em rgba(202, 214 ,170, 0.2), 1.75em 1.75em 0 0em rgba(202, 214 ,170, 0.2), 0em 2.5em 0 0em rgba(202, 214 ,170, 0.2), -1.8em 1.8em 0 0em rgba(202, 214 ,170, 0.5), -2.6em 0em 0 0em rgba(202, 214 ,170, 0.7), -1.8em -1.8em 0 0em #cad6aa;
  }
}
