<h3>{{'DIARY_VIEW' | translate}}</h3>


<div id="diary-container">
  <div class="view-animate" ng-show="!showCard" id="loading-message"><div class="loader"></div></div>

  <div class="card view-animate" ng-show="showCard" id="diary-view-card">
    <div class="row">
      <div class="col-sm-6">
        <div class="user-profile">
          <img ng-src="{{userProfile.profilePicture}}" ng-if="!!userProfile.profilePicture"/> <img ng-src="/images/default-profile-picture.png" ng-if="!userProfile.profilePicture"/> <span>{{userProfile.firstName+ ' '+userProfile.lastName}}</span>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="fb-like"
             data-href="http://www.gardensyjardines.com/#/diary/view/{{userId}}"
             data-layout="standard"
             data-action="like"
             data-show-faces="false"
             data-share="true">
          </div>
        </div>
      </div>


    <div ng-if="diaryTreeData.length===0">
      {{'DIARY_VIEW_NO_ENTRIES' | translate}}
    </div>


    <div ng-if="diaryTreeData.length>0">
      <div class="row">
        <div class="col-sm-6">
          <treecontrol class="tree-classic"
                       tree-model="diaryTreeData"
                       options="diaryTreeOptions"
                       on-selection="showSelected(node)"
                       selected-node="selected"
                       expanded-nodes="expandedNodes"
                       order-by="node.entryDate"
                       reverse-order="true">
            <span style="color: {{node.valid ? 'black':'#a94442'}}">
              {{node.entryDate | date:'dd-MMM-yyyy'}} <span ng-if="!!node.plantFamily">{{node.plantFamily}}.</span> <span ng-if="!!node.plantCultivar">{{node.plantCultivar}}.</span> <span ng-if="!!node.notes && !node.diaryId">{{node.notes | limitTo : 70}}...</span>

            </span>
            </treecontrol>
         </div>

        <div class="col-sm-6">
          <div id="diary-entry" ng-show="isDiaryEntry">

            <div class="photos" ng-if="images.length>0">
              <div class="photobox">
                <ul>
                  <li ng-repeat="image in images | limitTo : 31 : 0">
                    <a ng-click="openLightboxModal($index)">
                      <img ng-src="{{ image.thumbUrl }}">
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_ENTRY_DATE_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.entryDate | date: 'dd-MMM-yyyy'}}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_PLANT_FAMILY_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.plantFamily}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_PLANT_CULTIVAR_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryEntry.plantCultivar}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_NOTES_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.notes}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_COUNTRY_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.country.translateKey | translate}}
              </div>
            </div>

            <div class="row">
               <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_HARDINESS_ZONE_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.hardinessZone.name}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_SOIL_ACIDITY_LABEL' | translate }}</label>
              <div class="col-sm-8">
               {{diaryEntry.soilAcidity.translateKey | translate}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_SOIL_TYPE_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryEntry.soilType.translateKey | translate}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_MATURITY_DATE_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryEntry.maturityDate}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_SEED_SOURCE_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.seedSource}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_PLANT_RATING_LABEL' | translate }}</label>

              <div class="col-sm-8">
                {{diaryEntry.plantRating.name}}
              </div>
            </div>


          </div>


          <div id="diary-progress" ng-show="isDiaryProgress">

            <div class="photos" ng-if="images.length>0">
              <div class="photobox">
                <ul>
                  <li ng-repeat="image in images | limitTo : 31 : 0">
                    <a ng-click="openLightboxModal($index)">
                      <img ng-src="{{ image.thumbUrl }}">
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_ENTRY_DATE_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryProgress.entryDate | date: 'dd-MMM-yyyy'}}
              </div>
            </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_NOTES_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryProgress.notes}}
              </div>
              </div>

            <div class="row">
              <label class="col-sm-4 control-label">{{ 'DIARY_ENTRY_VIEW_PLANT_RATING_LABEL' | translate }}</label>
              <div class="col-sm-8">
                {{diaryProgress.plantRating.name}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
