<content
    has-header="true"
    scroll="true"
    >


  <div id="request-password">
    <div id="email-sent" class="view-animate" ng-show="emailSent">
      {{ 'REQUEST_PASSWORD_EMAIL_SENT' | translate }}
    </div>

     <div class="view-animate" ng-show="showCard && !emailSent">

      <form name="userForm" ng-submit="requestPassword()">

        <div class="form-group" show-errors>
          <input type="email" class="form-control" name="email" placeholder="Email" ng-model="email" required>
          <p class="help-block" ng-if="userForm.email.$error.required">{{ 'REQUEST_PASSWORD_EMAIL_REQUIRED' | translate }}</p>
          <p class="help-block" ng-if="userForm.email.$error.email">{{ 'REQUEST_PASSWORD_EMAIL_INVALID' | translate }}</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{ 'REQUEST_PASSWORD_BUTTON' | translate }}</button>
        </div>

      </form>
    </div>
  </div>
</content>
