<content
    has-header="true"
    scroll="true"
    >


  <div id="reset-password">
    <div id="password-reset" ng-show="passwordReset">
      {{ 'PASSWORD_RESET' | translate }}
    </div>

    <div class=" view-animate" ng-show="showCard && !passwordReset">

      <form class="form-horizontal" name="resetPasswordForm" ng-submit="resetPassword()">


        <fieldset class="form-group" show-errors>
          <label class="col-sm-4 control-label">{{ 'REGISTER_PASSWORD' | translate }} *</label>
          <div class="col-sm-4">
            <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                   ng-model="update.password" ng-required="true" ng-blur="passwordValidate=true" complex-password>
          </div>
          <div class="col-sm-4 password">
            <div ng-if="resetPasswordForm.password.$error.complexity && passwordValidate"><p class="help-block">{{ 'REGISTER_PASSWORD_REQUIREMENTS' | translate }}</p></div>

          </div>
        </fieldset>

        <fieldset class="form-group" show-errors>
          <label class="col-sm-4 control-label">{{ 'REGISTER_CONFIRM_PASSWORD' | translate }} *</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"
                   ng-model="update.confirmPassword" ng-required="true" ng-blur="confirmValidate=true" pw-check="password">
          </div>
          <div class="col-sm-4 confirm-password">
            <div ng-if="resetPasswordForm.confirmPassword.$error.pwmatch && confirmValidate"><p class="help-block">{{ 'REGISTER_CONFIRM_PASSWORD_EQUAL' | translate }}</p></div>
          </div>
        </fieldset>


        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">{{ 'REQUEST_PASSWORD_BUTTON' | translate }}</button>
          </div>
          <div class="col-sm-4"></div>
        </div>

      </form>
    </div>
  </div>
</content>
