<content
    has-header="true"
    scroll="true"
    >


  <div id="reset-password">
    <div id="password-reset" ng-show="passwordReset">
      {{ 'PASSWORD_RESET' | translate }}
    </div>

    <div class=" view-animate" ng-show="showCard && !passwordReset">
      <div class="card">

        <form name="userForm" ng-submit="resetPassword()">

          <div class="form-group" show-errors>
            <input type="password" class="form-control" name="password" placeholder="Password"
                   ng-model="update.password" required>
            <p class="help-block" ng-if="userForm.password.$error.required">{{ 'REGISTER_PASSWORD_REQUIRED' | translate }}</p>
          </div>

          <div class="form-group" show-errors>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"
                   ng-model="update.confirmPassword" required data-password-verify="registration.password">
            <p class="help-block" ng-if="userForm.confirmPassword.$error.required">{{ 'REGISTER_CONFIRM_PASSWORD_REQUIRED' | translate }}</p>
            <div ng-show="userForm.confirmPassword.$error.passwordVerify"><p class="help-block">{{ 'REGISTER_CONFIRM_PASSWORD_EQUAL' | translate }}</p></div>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-default">{{ 'REQUEST_PASSWORD_BUTTON' | translate }}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</content>
